<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<!---FOOTER----->
    <footer>
        <div class=" footer-container">
    <div class="logos">
        <div id="alcaldia">
            <img src="../assets/img/Logo_alcaldia.png" alt="Logo_alcaldia" width="100px">
        </div>
        <div id="udea">
            <img src="../assets/img/UDEAprueba4-removebg-preview.png" alt="logoUDEA">
        </div>
        <div id="red">
            <img src="../assets/img/REMM3.png" alt="Logo_RED">
        </div>
    </div>
    <div class="informacion">
        <div class="contacto">
            <h5>CONTACTO</h5>
            <p>(+57) 123 555 7777</p>
        </div>
        <div class="direccion">
            <h5>DIRECCIÓN</h5>
            <p>Cl. 34d #91-76<br>La América-Medellín</p>
        </div>
    </div>
    <div class="derechos">
        <p>Derechos de autor © 2023. Todos los derechos reservados.</p>
    </div>
    </div>
    </footer>, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

</body>

</html>