<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link rel="stylesheet" href="../assets/NewHeader.css">
</head>

<body>

    <!---ENCABEZADO--->
    <header>
        <div class="header-container">
            <div class="elementos">
                <div class="logo">
                    <!--<img src="../assets/img/logo_RED2-removebg-preview.png" alt="Logo_Red">-->
                    <img src="../assets/img/REMM3.png" alt="Logo_Red">
                </div>
                <div id="titulo">
                    <h2>Escuela de Musica Villa Laura</h2>
                </div>
                <div id="menu">
                    <a href="http://localhost/php/InicioSesion/Login.php">
                        <img src="../assets/img/login.png" alt="login">
                    </a>
                    <a href="http://localhost/php/inventario/inventario.php">
                        <img src="../assets/img/inventory.png" alt="inventario">
                    </a>
                    <a href="http://localhost/php/views/index.php">
                        <img src="../assets/img/home.png" alt="casa">
                    </a>
                </div>
            </div>
        </div>
    </header>
</body>

</html>