h3{
    color: #000;
    text-align: left;
    font-family: Inria Sans;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
p{
    color: #000;
    text-align: left;
    font-family: Inria Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
input{
    width: 17rem;
    height: 1.5rem;
    border-radius: 1.9375rem;
    border: 2px solid #757574;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
select{
    width: 17rem;
    height: 1.5rem;
    border-radius: 1.9375rem;
    border: 2px solid #757574;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.btnAgregar{
    width: 8rem;
    height: 2rem;
    border-radius: 1.9375rem;
    background: #000;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #fff;
    text-align: center;
    font-family: Inria Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 1rem;
    margin-top: 4%;
}
.btnRegresar{
    
    width: 8rem;
    height: 2rem;
    flex-shrink: 0;
    border-radius: 1.9375rem;
    background: #A3160F;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #fff;
    text-align: center;
    font-family: Inria Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
