<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EMVL</title>
    <link rel="stylesheet" href="../assets/estilos.css">
</head>

<body>
    <!-----HEADER----->
    <?php require('../layout/header.html')?>
    <!----CUERPO---->
    <form method="post" action="agregar_producto.php">
        <label for="nombre">Nombre:</label>
        <input type="text" name="nombre" required>

        <label for="descripcion">Descripción:</label>
        <textarea name="descripcion"></textarea>

        <label for="precio">Precio:</label>
        <input type="number" step="0.01" name="precio" required>

        <label for="stock">Stock:</label>
        <input type="number" name="stock" required>

        <button type="submit">Agregar Producto</button>
    </form>

    <!------FOOTER------>
    <?php require('../layout/footer.html')?>
</body>

</html>