/*-------------------ESTILOS HEADER---------------------*/
body {
    margin: 0%;
}

.header-container {
    display: flex;
    flex-direction: row;
    padding: auto;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: normal;
}

.elementos {
    align-items: center;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    background: #A3160F;
    justify-content: space-between;
}

.logo img {
    width: 14rem;
}

.logo {
    /*max-width: 10rem;
    height: 5rem;*/
    padding: 1rem;
    /*margin-left: 3rem;
    margin-right: 3rem;*/
    align-items: center;
}

#titulo {
    padding: 1rem;
    /*margin-left: 5rem;
    margin-right: 5rem;*/
}

#menu {
    display: flex;
    flex-direction: row;
    margin-right: 3rem;
    padding: 1rem;
}

#menu a {
    text-decoration: none;
}

/*-------RESPONSIVE-------*/
/* Estilos para hacerlo responsive */
@media (max-width: 768px) {
    .header-container {
        display: flex;
        flex-direction: column;
        font-size: 0.8rem;
    }

    .logo img {
        width: 0;
    }

    .logo,
    #titulo,
    #menu {
        margin: 0;
    }

    #menu img {
        width: 2.4rem;
    }
}