body {
    width: 100%;
}

.seccion_1 {
    display: flex;
    flex-direction: column;
    padding: auto;
    color: #161515;
    text-align: inherit;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2rem;
    font-style: normal;
    line-height: normal;
    margin-left: 5rem;
}

.seccion_1 a button {
    background-color: rgb(184, 180, 180);
    width: 170px;
    height: 45px;
    border-radius: 44.065px;
    border: #161515;
    font-weight: 700;
    color: #161515;
}

.seccion_1 a button:hover {
    background-color: grey;
}

.seccion_1 a {
    text-decoration: none;
}

.seccion_2 {
    display: flex;
    flex-direction: column;
    padding: auto;
    color: #161515;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2rem;
    font-style: normal;
    line-height: normal;
    margin-top: 5rem;
    margin-left: 5rem;
    margin-bottom: 5rem;
}

.tabla_inventario {
    background-color: rgb(184, 180, 180);
    width: 95%;
    height: 4rem;
    text-align: center;
    border-radius: 4px;
}

/*.seccion_3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: auto;
    color: #161515;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2rem;
    font-style: normal;
    line-height: normal;
    margin-top: 5rem;
    margin-left: 5rem;
}

.col-md-3 {
    padding: 1rem;
}

.col-md-3 button {
    background-color: #A3160F;
    width: 170px;
    height: 45px;
    border-radius: 44.065px;
    border: #161515;
    font-weight: 700;
    color: #fbfbfb;
}

.col-md-3 button:hover {
    background-color: #81120c;
}*/

#btnAgregarCategoria {
    background-color: #A3160F;
    width: 170px;
    height: 45px;
    border-radius: 44.065px;
    border: #161515;
    font-weight: 700;
    color: #fbfbfb
}

#btnActualizar {
    background-color: #A3160F;
    width: 170px;
    height: 45px;
    border-radius: 44.065px;
    border: #161515;
    font-weight: 700;
    color: #fbfbfb
}

#btnEliminar {
    background-color: #A3160F;
    width: 170px;
    height: 45px;
    border-radius: 44.065px;
    border: #161515;
    font-weight: 700;
    color: #fbfbfb
}

#categoriaEliminar {
    background-color: #b2aeae;
    width: 170px;
    height: 45px;
    border-radius: 44.065px;
    border: #161515;
    font-weight: 700;
    color: #161515;
    text-align: center;
}

#categoriaActualizar {
    background-color: #b2aeae;
    width: 170px;
    height: 45px;
    border-radius: 44.065px;
    border: #161515;
    font-weight: 700;
    color: #161515;
    text-align: center;
}

#btnAgregarCategoria:hover {
    background-color: #720f0a;
}

#categoriaActualizar:hover {
    background-color: #720f0a;
}

.seccion_1 form input {
    border-radius: 44.065px;
    height: 2rem;
}