body {
    width: 100%;
}

.seccion_1 {
    display: flex;
    flex-direction: column;
    padding: auto;
    color: #161515;
    text-align: inherit;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2rem;
    font-style: normal;
    line-height: normal;
    margin-left: 5rem;
}

.seccion_1 a button {
    /*background-color: rgb(184, 180, 180);
    width: 170px;
    height: 45px;
    border-radius: 44.065px;
    border: #161515;
    font-weight: 700;
    color: #161515;*/

    background-color: #A3160F;
    width: 170px;
    height: 45px;
    border-radius: 44.065px;
    border: #161515;
    font-weight: 700;
    color: #fbfbfb
}

.seccion_1 a button:hover {
    /*background-color: grey;*/
    background-color: #720f0a;
}

#btnactualizar {
    /*background-color: rgb(184, 180, 180);
    width: 170px;
    height: 45px;
    border-radius: 44.065px;
    border: #161515;
    font-weight: 700;
    color: #161515;
    margin-top: 1rem;*/

    background-color: #A3160F;
    width: 170px;
    height: 45px;
    border-radius: 44.065px;
    border: #161515;
    font-weight: 700;
    color: #fbfbfb;
    margin-top: 1.5rem;
}

#btnactualizar:hover {
    /*background-color: grey;*/
    background-color: #720f0a;
}

.seccion_1 a {
    text-decoration: none;
}

#input_inventario {
    border-radius: 44.065px;
    height: 2rem;
}

.seccion_2 {
    display: flex;
    flex-direction: column;
    padding: auto;
    color: #161515;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2rem;
    font-style: normal;
    line-height: normal;
    margin-top: 5rem;
    margin-left: 5rem;
    margin-bottom: 5rem;
}

.tabla_inventario {
    background-color: rgb(184, 180, 180);
    width: 95%;
    height: 4rem;
    border-radius: 4px;
}

.seccion_2 button {
    background-color: #A3160F;
    width: 170px;
    height: 45px;
    border-radius: 44.065px;
    border: #161515;
    font-weight: 700;
    color: #fbfbfb
}

.seccion_2 button:hover {
    background-color: #720f0a;
}

#categoriaActualizar {
    background-color: #b2aeae;
    width: 170px;
    height: 45px;
    border-radius: 44.065px;
    border: #161515;
    font-weight: 700;
    color: #161515;
    text-align: center;
}

#idActualizar {
    background-color: #b2aeae;
    width: 170px;
    height: 45px;
    border-radius: 44.065px;
    border: #161515;
    font-weight: 700;
    color: #161515;
    text-align: center;
}

#idCategoriaActualizar {
    background-color: #b2aeae;
    width: 170px;
    height: 45px;
    border-radius: 44.065px;
    border: #161515;
    font-weight: 700;
    color: #161515;
    text-align: center;
}

form {
    margin: 1.5rem;
}

#newCantidad {
    margin-top: 1rem;
}